---
import Article from "@/components/article.astro";
import BlogPostLayout from "@/layouts/post.astro";
import { envVars } from "@/lib/config/environment";
import { blog_ld, profile_ld } from "@/lib/schema/structured-data";
import { format_date_with_time } from "@/shared/helpers/datetime";
import { withBaseUrl } from "@/shared/helpers/with-base-url";
import { hasValues, remove_key } from "@/shared/utils";

import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, getEntries, getEntry } from "astro:content";
import type {
  Article as BlogArticle,
  BreadcrumbList,
  Graph,
  ImageObject,
  WebPage,
  WithContext,
} from "schema-dts";

export const getStaticPaths = (async () => {
  const status = ["draft", "preview", "published"] as const;
  const entries = await getCollection("posts", ({ data }) => {
    return import.meta.env.MODE === "production"
      ? envVars.ENABLE_PREVIEW && data.status !== "draft"
        ? status.includes(data.status)
        : data.status === "published"
      : true;
  });

  return entries.map((entry) => {
    const [year, month, slug] = entry.slug.split("/");
    return { params: { year, month, slug }, props: { entry } };
  });
}) satisfies GetStaticPaths;

// @ts-expect-error
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;

const [markdown, author, categories] = await Promise.all([
  entry.render(),
  getEntry(entry.data.author),
  getEntries(entry.data.categories),
]);

const { Content, headings, remarkPluginFrontmatter } = markdown;

// update the collection schema with plugin data
entry.data.updatedAt ||= new Date(remarkPluginFrontmatter.updatedAt);
entry.data.duration ||= remarkPluginFrontmatter.duration;
entry.data.words ||= remarkPluginFrontmatter.words;

const article_ld = {
  "@context": "https://schema.org",
  "@type": "Article",
  "@id": withBaseUrl(`/blog/${entry.slug}#article`).toString(),
  isPartOf: { "@id": withBaseUrl(`/blog/${entry.slug}`).toString() },
  author: {
    name: author.data.name,
    "@id": withBaseUrl("/about-me").toString(),
  },
  headline: entry.data.title,
  description: entry.data.description,
  datePublished: entry.data.publishedAt.toISOString(),
  dateModified: entry.data.updatedAt.toISOString(),
  mainEntityOfPage: { "@id": withBaseUrl(`/blog/${entry.slug}`).toString() },
  wordCount: remarkPluginFrontmatter.words,
  commentCount: 0,
  publisher: { "@id": withBaseUrl("/about-me").toString() },
  image: { "@id": withBaseUrl(`/blog/${entry.slug}/og.png`).toString() },
  thumbnailUrl: withBaseUrl(`/blog/${entry.slug}/og.png`).toString(),
  keywords: entry.data.tags,
  inLanguage: "en-US",
  potentialAction: [
    {
      "@type": "CommentAction",
      name: "Comment",
      target: [withBaseUrl(`/blog/${entry.slug}/#respond`).toString()],
    },
  ],
  copyrightYear: entry.data.publishedAt.getFullYear(),
  copyrightHolder: { "@id": withBaseUrl("/about-me").toString() },
  accessibilityFeature: ["tableOfContents"],
} satisfies WithContext<BlogArticle>;

const page_ld = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": withBaseUrl(`/blog/${entry.slug}`).toString(),
  url: withBaseUrl(`/blog/${entry.slug}`).toString(),
  name: entry.data.title,
  description: entry.data.description,
  isPartOf: { "@id": withBaseUrl(`/blog/${entry.slug}`).toString() },
  primaryImageOfPage: {
    "@id": withBaseUrl(`/blog/${entry.slug}/og.png`).toString(),
  },
  image: { "@id": withBaseUrl(`/blog/${entry.slug}/og.png`).toString() },
  thumbnailUrl: withBaseUrl(`/blog/${entry.slug}/og.png`).toString(),
  datePublished: entry.data.publishedAt.toISOString(),
  dateModified: entry.data.updatedAt.toISOString(),
  breadcrumb: {
    "@id": withBaseUrl(`/blog/${entry.slug}#breadcrumb`).toString(),
  },
  inLanguage: "en-US",
  potentialAction: [
    {
      "@type": "ReadAction",
      target: [withBaseUrl(`/blog/${entry.slug}`).toString()],
    },
  ],
} satisfies WithContext<WebPage>;

const image_ld = {
  "@context": "https://schema.org",
  "@type": "ImageObject",
  "@id": withBaseUrl(`/blog/${entry.slug}/og.png`).toString(),
  url: withBaseUrl(`/blog/${entry.slug}/og.png`).toString(),
  width: "1200",
  height: "630",
} satisfies WithContext<ImageObject>;

const breadcrumb_ld = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "@id": withBaseUrl(`/blog/${entry.slug}#breadcrumb`).toString(),
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Prince Muel - Frontend Engineer, Educator, Musician",
      item: withBaseUrl("/").toString(),
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Blog",
      item: withBaseUrl("/blog").toString(),
    },
    {
      "@type": "ListItem",
      position: 3,
      name: entry.data.title,
      item: withBaseUrl(`/blog/${entry.slug}`).toString(),
    },
  ],
} as WithContext<BreadcrumbList>;

const jsonld = {
  "@context": "https://schema.org",
  "@graph": remove_key(
    [article_ld, page_ld, image_ld, breadcrumb_ld, blog_ld, profile_ld],
    "@context",
  ),
} satisfies Graph;

console.log(entry.data);

const { title, description, tags, permalink, publishedAt, updatedAt } =
  entry.data;
---

<BlogPostLayout
  type="article"
  title={title}
  description={description}
  jsonld={jsonld}
  headings={headings}
  publishedAt={publishedAt}
  updatedAt={updatedAt}
  canonical={permalink}
  keywords={[...tags, ...categories.map((c) => c.data.name)]}
>
  <Article class="">
    <div
      class="flex items-center justify-between gap-2 font-accent font-semibold text-teal-600 dark:text-teal-500"
    >
      <p class="text-sm text-inherit">
        {format_date_with_time(publishedAt)}
      </p>
      <p class="text-xs text-inherit">
        By {author.data.name}
      </p>
    </div>

    <h1 id="heading" class="mt-6">{title}</h1>

    <p>{format_date_with_time(updatedAt)}</p>

    {
      hasValues(tags) && (
        <ul
          role="list"
          class="not-prose flex items-center gap-3 text-xs text-rose-500/90"
        >
          {tags.map((tag) => (
            <li class="rounded border px-2 py-1 capitalize dark:border-slate-900">
              {tag}
            </li>
          ))}
        </ul>
      )
    }

    <p class="">{description}</p>

    <Content />
  </Article>
</BlogPostLayout>
