---
import Container from "@/components/layout/container.astro";
import Link from "@/components/primitives/link.astro";
import Time from "@/components/primitives/time.astro";
import Copyright from "@/components/shared/copyright.astro";

import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";

import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"footer">;

const { class: className, ...attrs } = Astro.props;

const socials = await getCollection(
  "socials",
  ({ id }) => !["discord", "youtube"].includes(id),
);

const routes = {
  general: [
    { href: "/blog", text: "Blog" },
    { href: "/about-me", text: "About Me" },
    { href: "/projects", text: "Projects" },
    { href: "/articles", text: "Articles" },
    { href: "/journal", text: "Journal" },
  ],
  specifics: [
    { href: "/wiki", text: "Wiki" },
    { href: "/resume.pdf", text: "Resume" },
    { href: "/newsletter", text: "Newsletter" },
    { href: "/tweets", text: "Tweets" },
    { href: "/say-hello", text: "Contact Me" },
  ],
  extras: [
    { href: "/wiki", text: "Setup" },
    { href: "/wiki/license", text: "License" },
    { href: "/wiki/accessibility", text: "Accessibility" },
    { href: "/legal/privacy-policy", text: "Privacy Policy" },
    { href: "/legal/terms-of-service", text: "Terms of Service" },
    // { href: "/sponsor-me", text: "Sponsor Me" },
  ],
};

const date = new Date();
---

<footer {...attrs} class:list={["mt-20", className]}>
  <Container>
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <nav
        aria-label="Footer"
        class="grid grid-cols-3 gap-x-4 gap-y-12 border-t border-gray-300 py-10 md:grid-cols-6 lg:col-start-2"
      >
        <section class="col-span-1">
          <h4 class="text-sm font-medium uppercase text-gray-800 sm:text-base">
            General
          </h4>
          <ul class="mt-4 flex flex-col gap-3 text-xs text-gray-600 sm:text-sm">
            {
              routes.general.map((route) => (
                <li>
                  <Link href={route.href} class="text-inherit">
                    {route.text}
                  </Link>
                </li>
              ))
            }
          </ul>
        </section>

        <section class="col-span-1">
          <h4 class="text-sm font-medium uppercase text-gray-800 sm:text-base">
            Specifics
          </h4>
          <ul class="mt-4 flex flex-col gap-3 text-xs text-gray-600 sm:text-sm">
            {
              routes.specifics.map((route) => (
                <li>
                  <Link href={route.href} class="text-inherit">
                    {route.text}
                  </Link>
                </li>
              ))
            }
          </ul>
        </section>

        <section class="col-span-1">
          <h4 class="text-sm font-medium uppercase text-gray-800 sm:text-base">
            Extra
          </h4>
          <ul class="mt-4 flex flex-col gap-3 text-xs text-gray-600 sm:text-sm">
            {
              routes.extras.map((route) => (
                <li>
                  <Link href={route.href} class="text-inherit">
                    {route.text}
                  </Link>
                </li>
              ))
            }
          </ul>
        </section>

        <section class="col-span-3"></section>
      </nav>
    </div>
    <div class="grid grid-cols-1 gap-4 md:gap-6 lg:grid-cols-[5rem,1fr] lg:gap-12">
      <div
        class="flex flex-col items-center justify-between gap-4 py-16 md:flex-row lg:col-start-2"
      >
        <div class="order-1 flex items-center gap-4 text-2xl md:order-2">
          {
            socials.map((link) => (
              <Link
                href={link.data.href}
                class:list={[
                  "group flex items-center transition",
                  "text-xl text-gray-800 hocus:text-gray-500",
                ]}
              >
                <Icon name={link.data.icon} class="" />
                <span class="sr-only">{link.data.text}</span>
              </Link>
            ))
          }
        </div>

        <p class="order-2 text-xs text-gray-800 md:order-1">
          <Copyright server:defer datetime={date.toISOString()}>
            <Time slot="fallback" datetime={date.toISOString()}>
              &copy; {date.getFullYear()}
            </Time>
          </Copyright>

          <span>Prince Muel. All Rights Reserved</span>
        </p>
      </div>
    </div>
  </Container>
</footer>
