---
import SocialLinks from "@/components/molecules/SocialLinks.astro";
import { z } from "astro/zod";
import RootLayout from "../layouts/Root.astro";

const schema = z.object({
  name: z.string({ required_error: "Name is required" }).min(2),
  email: z.string({ required_error: "Email is required" }).email(),
  message: z.string({ required_error: "Message is required" }).min(15),
});

let errors = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();

    const result = schema.parse(Object.fromEntries(formData.entries()));

    const message = {
      to: "vansomecsam@gmail.com",
      from: result.email,
      replyTo: { email: result.email, name: result.name },
      subject: `Contact Form Submission From ${result.name}`,
      text: result.message,
    };

    console.log(message);
  } catch (e) {
    if (e instanceof z.ZodError) {
      console.error(JSON.stringify(e.issues, null, 2));
      errors = e.issues.reduce(
        (error, issue) => {
          const path = issue.path[0] as keyof typeof error;
          error[path] = issue.message;
          return error;
        },
        { name: "", email: "", message: "" },
      );
    }

    if (e instanceof Error) {
      console.error(e.message);
    }
  }
}

const title = "Prince Muel - Contact Me";
const description =
  "Please feel free to reach out to me. I'd love to hear about what you're working on and how I could help.";
---

<RootLayout title={title} description={description}>
  <main id="main" aria-labelledby="page-heading" class="flex min-h-full flex-col gap-20 py-20">
    <h1 id="page-heading" class="sr-only">Want to reach out?</h1>

    <section class="container">
      <div
        class="flex flex-col gap-8 border-y border-zinc-800/20 py-12 md:flex-row dark:border-zinc-200/20"
      >
        <h2 class="flex-1 text-4xl font-light tracking-tight text-teal-500">Get in Touch</h2>

        <div class="flex flex-1 flex-col gap-6">
          <p>
            Hi there! Thanks for sticking with me till this point. If you're looking for a fast,
            performant, user-friendly, SEO and accessibility compliant website to represent your
            product or business, want a consultation or you'd just like to say hi (wave emoji),
            please feel free to reach out. I'd love to hear about what you're working on and how I
            could help.
          </p>

          <p>
            I'm also currently looking for a new role as a Frontend Engineer and open to a wide
            range of opportunities. My preference would be to work remotely... But I'd also be happy
            to hear about opportunites that don't fit that description. I'm a hard-working and
            positive person who will always approach each task with a sense of purpose and attention
            to detail. Please, do feel free to check out my online profiles below and/or send me a
            message using the form below. I will do my best to respond in a timely manner. (smile
            emoji)
          </p>

          <SocialLinks />
        </div>
      </div>
    </section>

    <section class="container">
      <div class="flex flex-col gap-8 md:flex-row">
        <h2 class="flex-1 text-4xl font-light tracking-tight text-teal-500">Contact Me</h2>

        <form method="POST" class="flex-1 space-y-8">
          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="name">Name</label>
            <input
              type="text"
              class="w-full bg-zinc-800/20 px-5 py-3 dark:bg-zinc-200/20"
              id="name"
              name="name"
              placeholder="Jane Appleseed"
              autocomplete="name"
            />
            {
              errors.name && (
                <span role="alert" aria-live="polite" id="errors-name" class="text-sm text-red-400">
                  {errors.name}
                </span>
              )
            }
          </div>

          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="email"> Email Address</label>
            <input
              type="email"
              class="w-full bg-zinc-800/20 px-5 py-3 dark:bg-zinc-200/20"
              id="email"
              name="email"
              placeholder="email@example.com"
              autocomplete="email"
            />
            {
              errors.email && (
                <span
                  role="alert"
                  aria-live="polite"
                  id="errors-email"
                  class="text-sm text-red-400"
                >
                  {errors.email}
                </span>
              )
            }
          </div>

          <div class="space-y-2">
            <label class="block text-sm font-semibold" for="message"> Message</label>
            <textarea
              name="message"
              class="min-h-min w-full bg-zinc-800/20 px-5 py-3"
              id="message"
              placeholder="How can I help"></textarea>
            {
              errors.message && (
                <span
                  role="alert"
                  aria-live="polite"
                  id="errors-message"
                  class="text-sm text-red-400"
                >
                  {errors.message}
                </span>
              )
            }
          </div>

          <button type="submit" class="inline-flex items-center bg-teal-500 px-5 py-3 text-white"
            >Send Message</button
          >
        </form>
      </div>
    </section>
  </main>
</RootLayout>
