---
import { invariant } from "outvariant";

type Props = {
  height?: number;
  defaultTab?: "html" | "css" | "js" | "result";
  url: string;
};

const { height = 400, defaultTab, url } = Astro.props;
const slugMatches = url.match(/\/pen\/([\w|\d]*)$/);

invariant(slugMatches?.[1], "Invalid CodePen URL: `%s`", url);

const slug = slugMatches[1];
---

<p
  class="codepen"
  data-height={height}
  data-theme-id="dark"
  data-default-tab={defaultTab}
  data-user="princemuel"
  data-slug-hash={slug}
  style=`height: ${height}px; text-align: center`
  data-pen-title="Detect current section"
>
  <span
    ><a href={url}>See the Pen</a> by Benjamin Holmes (<a
      href="https://codepen.io/princemuel">@princemuel</a
    >) on <a href="https://codepen.io">CodePen</a>.</span
  >
</p>
<script is:inline async src="https://cpwebassets.codepen.io/assets/embed/ei.js"
></script>
