---
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Indicator from "@/components/indicator.astro";
import Meta from "@/components/meta.astro";
import SkipLink from "@/components/skip-link.astro";
import { tw } from "@/shared/utils";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
};

const {
  title,
  image,
  keywords,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
  noindex = false,
  nofollow = false,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw([
    "__sans__ __accent__ __mono__",
    "scrollbar scrollbar-w-1 scrollbar-h-6",
    "scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-corner-rounded-full",
    "scrollbar-track-blue-300 scrollbar-thumb-blue-700 scrollbar-corner-blue-500",
    "selection:bg-blue-300 selection:text-blue-900",
    "scroll-smooth",
  ])}
  data-theme="dark"
  data-reader-theme="material-theme-ocean"
>
  <head>
    <Meta
      title={title}
      description={description}
      image={image}
      og={{ type }}
      keywords={keywords}
      nofollow={nofollow}
      noindex={noindex}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <slot name="head" />
    <slot name="structured-data" />
  </head>

  <body
    class:list={[
      "relative font-sans font-normal antialiased",
      // "bg-slate-50 dark:bg-[#080b16]",
      // "bg-slate-50 dark:bg-slate-950",
      "bg-[#e1e1db] dark:bg-[#161923]",
      // "bg-cream-50 dark:bg-[#161923]",
      // "bg-white/90 dark:bg-[hsl(227.1_46.7%_5.9%)]",
    ]}
  >
    <SkipLink />
    <Indicator />
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      <Header />
      <slot />
      <Footer />
    </div>


  </body>
</html>
