---
import AstroAnalytics from "@/components/atoms/astro-analytics.astro";
import Indicator from "@/components/atoms/indicator.astro";
import SkipLink from "@/components/atoms/skip-link.astro";
import Footer from "@/components/organisms/footer.astro";
import Header from "@/components/organisms/header.astro";
import Construction from "@/components/templates/construction.astro";
import ContentSlot from "@/components/templates/content-slot.astro";
import Maintenance from "@/components/templates/maintenance.astro";
import Meta from "@/components/templates/meta.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
  language?: "en" | "fr" | "es";
};

const {
  title,
  image,
  keywords,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
  noindex = false,
  nofollow = false,
  language = "en",
} = Astro.props;
---

<!doctype html>
<html
  lang={language}
  dir="auto"
  data-mode="light"
  data-theme="github-light"
  class:list={[
    "scrollbar scrollbar-w-1 scrollbar-h-6",
    "scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-corner-rounded-full",
    "scrollbar-track-gray-300 scrollbar-thumb-gray-700 scrollbar-corner-gray-500",
    "selection:bg-gray-300 selection:text-gray-900",
    "scroll-smooth",
  ]}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="color-scheme" content="light" />
    {/* <meta name="color-scheme" content="dark light" /> */}
    <Meta
      title={title}
      description={description}
      image={image}
      og={{ type }}
      keywords={keywords}
      nofollow={nofollow}
      noindex={noindex}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <slot name="head" />
    <slot name="structured-data" />
  </head>
  <body class="relative bg-white font-sans text-base font-normal antialiased">
    <SkipLink />
    {import.meta.env.DEV ? <Indicator /> : null}
    <ContentSlot>
      <Construction slot="construction" />
      <div slot="live" class="grid min-h-screen grid-rows-[auto_1fr_auto]">
        <Header />
        <slot />
        <Footer />
      </div>
      <Maintenance slot="maintenance" />
    </ContentSlot>
    {import.meta.env.PROD ? <SpeedInsights /> : null}
    <AstroAnalytics />
  </body>
</html>
