---
import SkipLink from "@/components/atoms/skip-link.astro";
import ReloadPrompt from "@/components/molecules/reload-prompt.astro";
import ContentSlot from "@/components/templates/content-slot.astro";
import SiteStatus from "@/components/templates/site-status.astro";
import Layout from "@/layouts/layout.astro";
import Meta from "@/layouts/meta.astro";

import { getSiteSettings } from "@/config/settings";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
  language?: "en" | "fr" | "es";
};

const settings = getSiteSettings();

const {
  title,
  image,
  keywords,
  type = "website",
  canonical,
  description,
  publishedAt,
  updatedAt,
  directives = {},
  language = settings.language,
} = Astro.props;
---

<!doctype html>
<html
  lang={language}
  dir="auto"
  data-theme="github-light-default"
  data-mode="light"
  class:list={["antialiased motion-safe:scroll-smooth"]}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="color-scheme" content="dark light" />
    <Meta
      title={title}
      description={description}
      image={image}
      og={{ type }}
      keywords={keywords}
      directives={directives}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
  </head>
  <body
    class:list={[
      "relative min-h-screen font-sans font-normal",
      "bg-white dark:bg-gray-900",
    ]}
  >
    <ContentSlot>
      <SiteStatus slot="site-status-down" />
      <Fragment slot="site-status-live">
        <SkipLink />
        <Layout>
          <slot />
        </Layout>
        <ReloadPrompt />
      </Fragment>
    </ContentSlot>
  </body>
</html>
