---
import { BreakPointIndicator, ThemeProvider } from "@/components/astro";
import Header from "./header.astro";
import RouterHead from "@/components/head.astro";
import { fontMono, fontSans, fontAccent } from "@/lib/fonts";
import { AstroFont as Fonts } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { tw } from "@/helpers";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = Meta & { type?: OpenGraph["type"] };

const {
  title,
  image,
  tags,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw("__sans__ __accent__ __mono__")}
  data-theme="dark"
  data-reader-theme="dracula"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <RouterHead
      title={title}
      description={description}
      image={image}
      og={{ type }}
      tags={tags}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <Fonts config={[fontSans, fontMono, fontAccent]} />
    {import.meta.env.PROD && <SpeedInsights />}
    <ViewTransitions />
    <ThemeProvider />
    <!-- <script src="/src/scripts/pwa.ts"></script> -->
  </head>

  <body class="bg-white font-sans antialiased dark:bg-neutral-950">
    <Header />

    <slot />
    <BreakPointIndicator />

    <script>
      const cssHasPseudo = (await import("css-has-pseudo/browser")).default;
      cssHasPseudo(document);
    </script>
  </body>
</html>
