---
import { BreakPointIndicator, Profile } from "@/components/astro";
import Header from "./header.astro";
import RouterHead from "@/components/head.astro";
import { fontAccent, fontMono, fontSans } from "@/lib/fonts";
import { AstroFont as Fonts } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { tw } from "@/helpers";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ThemeProvider } from "@/components/web";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
};

const {
  title,
  image,
  tags,
  type,
  canonical,
  className,
  description,
  publishedAt,
  updatedAt,
  jsonld,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw([
    "__sans__ __accent__ __mono__",
    "scrollbar-track-sky-300 scrollbar-thumb-sky-700",
  ])}
  data-theme="dark"
  data-reader-theme="min-dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <RouterHead
      title={title}
      description={description}
      image={image}
      og={{ type }}
      tags={tags}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <ThemeProvider />
    <Fonts config={[fontSans, fontMono, fontAccent]} />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(jsonld)}
    />
    <!-- <script src="/src/scripts/pwa.ts"></script> -->
    <ViewTransitions />
    {import.meta.env.MODE === "production" ? <SpeedInsights /> : null}
  </head>

  <body
    class={tw([
      "relative font-sans font-normal antialiased",
      "bg-yellow-50 dark:bg-brand-950",
      // "bg-neutral-50 dark:bg-brand-950",e
      className,
    ])}
  >
    <!-- <a class="flex bg-background-contrast focus:absolute focus:left-2 focus:not-sr-only focus:p-2 outline-offset-0 sr-only text-primary underline" href="#main">Skip to main content</a> -->
    <Header />

    <div class="mx-auto w-full max-w-screen-xl px-4 py-8 sm:px-6 md:px-8">
      <div class="relative flex w-full items-start gap-2 pb-28">
        <div class="grow-[9999] basis-[37.5rem]">
          <slot />
        </div>

        <aside
          class="sticky top-24 block grow basis-[22rem] overflow-y-auto px-6 max-md:hidden"
        >
          <div class="flex flex-col items-center">
            <Profile />
          </div>
        </aside>
      </div>
    </div>

    <footer>
      <BreakPointIndicator />
    </footer>

    <script>
      import cssHasPseudo from "css-has-pseudo/browser";
      cssHasPseudo(document);
    </script>
  </body>
</html>
