---
import {
  BreakPointIndicator,
  Header,
  ThemeProvider,
  Footer,
} from "@/components/astro";
import SkipLink from "@/components/astro/skip-link.astro";
import RouterHead from "@/components/head.astro";
import { Analytics } from "@/components/web";
import { tw } from "@/helpers";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
};

const {
  title,
  image,
  keywords,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw([
    "__sans__ __accent__ __mono__",
    "scrollbar scrollbar-w-1 scrollbar-h-6",
    "scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-corner-rounded-full",
    "scrollbar-track-teal-300 scrollbar-thumb-teal-700 scrollbar-corner-teal-500",
    "selection:bg-teal-300 selection:text-teal-900",
    "scroll-smooth",
  ])}
  data-theme="dark"
  data-reader-theme="material-theme-ocean"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <RouterHead
      title={title}
      description={description}
      image={image}
      og={{ type }}
      keywords={keywords}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <ThemeProvider />
    {import.meta.env.PROD && <SpeedInsights />}
    {import.meta.env.PROD && <Analytics />}
    <slot name="head" />
    <slot name="structured-data" />
  </head>

  <body
    class:list={[
      "relative font-sans font-normal antialiased",
      "bg-slate-50 dark:bg-[#080b16]",
      // "bg-white/90 dark:bg-[hsl(227.1_46.7%_5.9%)]",
    ]}
  >
    <SkipLink />
    <div class="grid min-h-screen grid-rows-[auto_1fr_auto]">
      <Header />
      <slot />
      <Footer />
    </div>

    <script>
      import cssHasPseudo from "css-has-pseudo/browser";
      cssHasPseudo(document);
    </script>
    <BreakPointIndicator />
  </body>
</html>
