---
import {
  BreakPointIndicator,
  Container,
  Header,
  ThemeProvider,
} from "@/components/astro";
import RouterHead from "@/components/head.astro";
import { fontAccent, fontMono, fontSans } from "@/lib/fonts";
import { AstroFont as Fonts } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { tw } from "@/helpers";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = Meta & {
  type?: OpenGraph["type"];
  className?: string;
};

const {
  title,
  image,
  tags,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw([
    "__sans__ __accent__ __mono__",
    "scrollbar scrollbar-w-1 scrollbar-h-6",
    "scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-corner-rounded-full",
    "scrollbar-track-teal-300 scrollbar-thumb-teal-700 scrollbar-corner-teal-500",
  ])}
  data-theme="dark"
  data-reader-theme="vitesse-black"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <RouterHead
      title={title}
      description={description}
      image={image}
      og={{ type }}
      tags={tags}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <ThemeProvider />
    <Fonts config={[fontSans, fontMono, fontAccent]} />
    <slot name="head" />
    <!-- <script src="/src/scripts/pwa.ts"></script> -->
    <ViewTransitions />
    {import.meta.env.MODE === "production" ? <SpeedInsights /> : null}
  </head>

  <body
    class={tw([
      "relative font-sans font-normal antialiased ",
      // "bg-yellow-50 dark:bg-black",
      // "bg-neutral-100 dark:bg-neutral-950",
      "bg-neutral-950",
      // "bg-yellow-50 dark:bg-black",
      // "bg-white dark:bg-black",
      // "bg-white dark:bg-stone-950",

      // "bg-gradient-to-br from-white from-10% via-yellow-100 via-30% to-blue-200 to-90%",
      // "dark:from-black dark:from-0% dark:via-black dark:via-50% dark:to-black dark:to-100%",
    ])}
  >
    <div class="min-h-screen">
      <Container class="py-6">
        <Header class:list={"text-[#111010]"} />
      </Container>

      <slot />

      <footer>
        <BreakPointIndicator />
      </footer>
    </div>

    <script>
      import cssHasPseudo from "css-has-pseudo/browser";
      cssHasPseudo(document);
    </script>
  </body>
</html>
