---
import { BreakPointIndicator, ThemeProvider } from "@/components/astro";
import Header from "./header.astro";
import RouterHead from "@/components/head.astro";
import { fontMono, fontSans, fontAccent } from "@/lib/fonts";
import { AstroFont as Fonts } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { tw } from "@/helpers";
import SpeedInsights from "@vercel/speed-insights/astro";

type Props = Meta & { type?: OpenGraph["type"] };

const {
  title,
  image,
  tags,
  type,
  canonical,
  description,
  publishedAt,
  updatedAt,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  dir="auto"
  class={tw([
    "__sans__ __accent__ __mono__",
    "scrollbar-thumb-sky-700 scrollbar-track-sky-300",
  ])}
  data-reader-theme="dracula"
>
  <!-- data-theme="dark" -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <RouterHead
      title={title}
      description={description}
      image={image}
      og={{ type }}
      tags={tags}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
    />
    <Fonts config={[fontSans, fontMono, fontAccent]} />
    {import.meta.env.MODE === "production" ? <SpeedInsights /> : null}
    <ViewTransitions />
    <ThemeProvider />
    <!-- <script src="/src/scripts/pwa.ts"></script> -->
  </head>

  <body class="bg-neutral-50 font-sans antialiased dark:bg-brand-900">
    <Header />
    <slot />
    <script>
      import cssHasPseudo from "css-has-pseudo/browser";
      cssHasPseudo(document);
    </script>
    <BreakPointIndicator />
  </body>
</html>
